.btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--color-violet);
    padding: 10px;
    height: 45px;
    border-radius: 8px;
    font-family: Ubuntu;
    color: var(--color-violet);
    /*font-weight: bold;*/
    font-size: 15px;
    transition: background-color 1s, color 0.3s;
}

.btn:hover{
    background-color: var(--color-violet);
    color: #ffffff;
}